/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh; /* will allow body to stretch larger than the height of the screen when there is enough content on the page that the user needs to scroll */
    display: flex;
    flex-direction: column; /* elements will still show underneath each other */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed; 
    z-index: 99; /* Ensures that header will always be top layer */
    width: 100%; /* Added this because reverts back to content width when position is changed to fixed */
    box-shadow: 0 2px 2px #3a3a3a;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

/* Main content */
main {
    background-color:blue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; /* Expands if there's space, won't shrink, starts at content size */
}


/* Footer */
footer {
    background-color: darkblue;
}